@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Open+Sans:ital,wght@1,500&display=swap');
/* aquivor de folha estilos de todos os sites*/
/* início css estilo header */

body, ul {
    margin: 0px;
    padding: 0px;
 }
 #menu a{
    font-size: 22px;
    color: black;
        text-decoration: none;
        /* font-family: sans-serif; */
        /* font-family: 'Open Sans', sans-serif;; */
        /* font-family: 'Arimo', sans-serif; */
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        transition: 0.3s;
        text-align: center;
        padding: 0 0.4em 0.2em 0.4em;
   
}
    #menu a:hover {
        font-size: 24px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px; 
        /* border-color: #006ccb; */
        border-left:  4px solid #26ff26;
        box-shadow: 1px 1px 2px #969696;
}  
#logo {
    font-size: 1.2rem;
}
#logo img{
    height: 60px;
}
#logo img:hover {
    transition: 0.3s;
    box-shadow: 2px 2px 4px #cbcbcb;
}
#header {
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e7e7e7;
 box-shadow: 3px 3px 6px #b1b1b1  /* sombra menu */
}
#menu {
    display: flex;
    list-style: none;
    gap: 0.6rem;
}
#btn-mobile  {
    display: none;
}
/* fim css estilo header */
/* início estilo carousel */
#carouselexampleinterval {
    position: relative;
    z-index: 10;
    padding-top: 10px;
    box-shadow: 3px 3px 6px #b1b1b1  /* sombra banner */
}

/* fim estilo carousel */

/* início estilo media >> mobile */
@media(max-width: 690px) {
#menu {
    display: block;
    position: absolute;
    width: 15em;
    top: 70px;
    right: 0px;
    background: #e7e7e7;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    padding-left: 5px;
    visibility: hidden;
    overflow-y: hidden;
}
#menu li {
    padding-top: 30px;
    padding-bottom: 0px;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
}
#nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: hidden;
}
#btn-mobile {
    display: flex;
    padding:  0.5rem 1rem;
    font: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
}
#hamburger {
    border-top: 2px solid;
    /* para aumentar ou diminuir a espessura da linha do hamburger */
    width: 30px;
    /* para alterar a largura do hamburger */
    color: #003f91;
    /* para altera a cor do hamburger */
}
#hamburger::after,
#hamburger::before {
    content: '';
    display: block;
    width: 30px;
    /* altera a largura do hamburger, jutamente com o width anterior */
    height: 2px;
    background: currentColor;
    margin-top: 4px;
    /* altera o epaçamento, entre as linhas do hambuger */
    position: relative;
    border-top: 2px solid;
    /* para aumentar ou diminuir a espessura linha do hamburger, juntamente com o borde-top anterior */
}
#nav.active #hamburger {
    border-top-color: transparent;
}
#nav.active #hamburger::before{
    transform: rotate(135deg);
}
#nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -6px;
  }
}
/* fim estilo media >> mobile */

/* início estilo banner home */
/* para aplicar estilos na class > utilize o ponto [ . ] antes do objeto */
/* para aplicar estilos no ID > utilize a hashtag [ # ] antes do objeto */
.section-banner-home {
    width: 100%;
    height: 500px;
    margin-top: 10px;
    padding: 50px;
    background-color: rgb(136, 48, 56);
    box-shadow: 3px 3px 6px #b1b1b1  /* sombra banner */
}
.section-banner-home img {
    max-height: 400px;
    width: 70%;
    display: block;
    margin: auto;
}
.section-banner-home .texto-banner {
    margin-top: 30px;
    font-size: 22px;
}
.section-banner-home .texto-banner h1 {
    font-size: 30px;
    width: 60%; /* width = largura */
    font-weight: 500; /* espessura do texto */
    padding-bottom: 20px; /*  */
    color: rgb(241, 241, 241);
}
.section-banner-home .texto-banner p {
    font-size: 15px;
    margin-bottom: 20px;
    color: black;
    text-align: justify;
}
.section-banner-home .texto-banner a {
    color: rgb(248, 245, 245);
    text-decoration: none;
    background-color: #100060;
    padding: 4px 14px;
    font-size: 15px;
    transition: 0.3s; /* deixando o efeito suave */
}
    .section-banner-home .texto-banner a:hover {
        /* color: greenyellow; cor do texto */
        /* text-shadow: 2px 2px 4 px #ffffff7a; sombra do teexto */
        font-size:  18px;
        font-weight: bold;
    }
/* fim estilo banner home */

/* início estilo destaque */
.destaque h2 {
margin-top: 15px;
text-align: center;
font-size: 24px;
font-weight: bold;        
}
    .destaque p {
        width: 77%;
        text-align: center;
        font-size: 14px;
        margin: 30px auto;
    }
        .destaque figcaption {
            font-size: 13px;
         color: #000;   
         text-decoration: none;
         font-weight: bold;
         text-align: center;
        }
        .destaque #saiba-mais {
            justify-content: center;
            display: flex;
            text-decoration: none;
            color: white;
            font-size: 18px;
            font-weight: bold;
            background: #006ccb;
            margin: 30px 0px;
            width: 25%;
        }
        .destaque .col-6 img:hover {
            box-shadow: 2px 2px 6px black;
            transition: 0.3s;
        }

/* fim estilo destaque */

/* início estilo novidades */
.novidades .texto-body{
    width: 80%;
    margin: 70px auto;
}
.novidades h2 {
    color: #000;
    font-size: 26px;
    width: 70%;
}
.novidades p {
    color: rgb(0, 0, 0);
}
.novidades a {
    justify-content: center;
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    background: #006ccb;
    margin: 30px 0px;
    width: 35%;
    /* align-items: center; */
}
/* fim estilo novidades */
/* início estillo galeria */
.galeria {
    margin: 60px auto 20px;
    /* quanto tivermos 4 valores no margin = top / right / botton / left > exemplo: margin: 60px 60px 60px 60px */
    /* quando tivermos 3 valores = top/ right and left / botton > exemplo: 60px auto 60px */
    /* quando tivermos 2 valores = top and botton /right and left > exemplo: margin: 60 px 30px */
    /* quando tivermos 1 valores = top, botton, right and left serão idênticos > exemplo: margin: 60px*/
    /* essa regra se aplica também ao padding. */
}
.galeria .container {
    margin-left: 11%;
}
.galeria h2 {
    text-align: center;
    font-size: 24px ;
}
.galeria p {
    text-align: center;
    width: center;
    margin: 14px auto 50px;
}
.galeria .gallery {
    width: 30%;
    margin: 14px auto 50px;
}
.galeria .gallery img {
    width: 80%;
    height: 80%;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    display: block;
}
.galeria .gallery img:hover {
    -webkit-transform: scale(1.9);
    transform: scale(1.9);
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.5);
}
/* fim estillo galeria */

/* início whatsapp */
.whatsapp {
position: fixed;
top: 400px;
left: 20px;
z-index: 200%;
}
.whatsapp img {
    height: 70px;
}
/* fim whatsapp */
/* Início efeito pulse */
.whatsapp .pulse {
    animation: pulse 0.7s infinite;
    margin: 0 auto;
    display: table;
    margin-top: 50px;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
}
@-webkit-keyframes pulse {
    0% {
    -webkit-transform: scale(1);
        -webkit-filter: brightness(110%);
    }
    100% {
        transform: scale(1.1);
        filter: brightness(110%);
    }
}
@keyframes pulse {
   0% {
    transform: scale(1);
    filter: brightness(100%); 
}
100% {
    transform: scale(1.1);
    filter: brightness(110%);
    }
 }

/* fim efeito pulse */
/* fim whatsapp */

/* início estilo footer (rodape) */
.rodape {
    padding: 50px 50px 0;
}
.rodape .container #logo-rodape img {
    height: 60%;
    width: 60%;
    padding-left: 10px;
    transition: transform .6;
    display: block;
    }
    .rodape .container #logo-rodape img:hover {
transform: scale(1.2);
box-shadow: 0 0 10px rgb(255, 255, 255, 0.2);
    }
    .rodape .info-contato p {
        margin: 0;
    }
    .rodape .linkfooter {
        text-decoration: none;
        color: #534a29;
        font-size: 13px
        margin-left 0.7rem
    }
    .rodape .linkfooter:hover {
        font-weight: bold;
    }
    .rodape .redes-sociais {
        display: inline-block;
    }
    .rodape .redes-sociais img {
        width: 50px;
        height: 50px;
        padding-left: 0;
        /* margin-left: 0.7rem; */
        transition: transform .3s;
        border-radius: 15px;
        /* border-radius = arredondando as extremidades da forma */
    }
    .rodape .redes-sociais img:hover {
        z-index: 1;
        transform: scale(1.5);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.446);
    }
    .rodape p.direitos {
        text-align: center;
        margin-top: 40px;
    }
/* fim estilo footer (rodape) */

/* início estilo videos */
.embed-container {
position: relative;
padding-bottom: 0;
height: auto;
max-width: 100%;
margin-top: 0;
margin-bottom: 30px;
padding-top: 80px;
padding-left: 10px;
padding-right: 10px;
display: flex;
}
.embed-container p {
    text-align: center;
    font-size: 20px;
}
.embed-container h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.embed-container iframe {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    border-radius: 1em;
    box-shadow: gray 0.5em 0.5em 0.3em;
    transition: transform .3s;
    display: flex;
}
.embed-container iframe:hover {
    flex: 1;
    z-index: 1;
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.446);
}
.embed-container .col-lg-4 {
margin-top: 30px;
}
.embed-container .col-lg-6 {
margin-top: 30px;
}
/* fim estilo videos */
/* início estilo contato */
.contact {
    padding: 70px 0px;
    background: #4e3a74;
}
.section-title h2 {
    color: #ffffff;
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 8px;
    border-bottom: 5px solid #ffffff;
    padding-bottom: 10px;
    display: inline-block;
}
.section-title p {
    color: #ffffffe8;
    margin-bottom: 30px;
}
.contact input,
.contact textarea {
    background: #ffffff;
}
.contact textarea {
    min-height: 180px;
    max-width: 100%;
}
.contact .map {
    overflow: hidden;
    border-radius: 4px;
    height: 70%;
}
/* início estilo market place */
.market-place{
    height: 180px;
    width: 100%;
    position: relative;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.market-place img {
    height: 160%;
    width: 100%;
}
/* fim estilo market place */

/* fim estilo contato */

/* início estilo produtos */
.col-lg-4 .card {
    border-style: none;
    border: 0px;
    min-height: 300px;
}
.text-center .mb-5 {
    margin-top: 20px;
}
.card img {
    /* height: auto; */
    width: auto;
    height: 300px   ;
}
.card .bg-image {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
.card .bg-image img {
    height: 250px;
}
.mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}
.hover-overlay .mask {
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.hover-overlay .mask:hover {
    opacity: 1;
}
.card-body .btn {
    background-color: #ababab;
    color: white;
    font-weight: 400;
    border: none;
    outline: 0px solid transparent;
}

/* fim estilo produtos */